/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F9;
    display: flex;
    height: 100vh;
    transition: all 0.3s ease-in-out; /* Smooth transition between screen sizes */
}

/* Sidebar container */
#sidebar {
    background-color: #D6D6D6;
    height: 100%;
    z-index: 1; /* Ensure sidebar is above other content */
    transform: translateX(-100%); /* Hide sidebar off-screen for mobile */
    transition: transform 0.3s ease-in-out; /* Smooth slide for mobile */
}

#sidebar.show {
    transform: translateX(0); /* Slide in for mobile */
}

/* Sidebar header */
#sidebar header {
    background-color: #DDE5F0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#sidebar header h2 {
    color: #28528E;
    font-size: 30px;
    margin-top: 60px;
}

#sidebar header input[type="text"] {
    width: 80%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #28528E;
    border-radius: 5px;
}

/* Sidebar menu links */
#menu a {
    display: block;
    color: #28528E;
    text-decoration: none;
    padding: 8px;
    margin: 5px 0;
}

/* Hover effect for sidebar links */
#menu a:hover {
    color: #A85426;
}

/* Active link styling */
#menu a.active {
    font-weight: bold;
    color: #A85426 !important;
}

/* Sidebar Footer */
#sidebar footer {
    color: #28528E;
    text-align: center;
    font-size: 12px;
    margin-top: auto; /* Ensure footer stays at the bottom */
    padding: 10px 0;
    background-color: #D6D6D6; /* Same background as sidebar for consistency */
}

/* Main content layout */
#main-container {
  display: grid;
  grid-template-columns: 250px auto; /* Sidebar + Content */
  grid-template-rows: 100%; /* Full height */
  transition: grid-template-columns 0.3s ease-in-out;
  height: 100vh; /* Ensure it covers the viewport */
}

#content {
    background-color: #F4F4F9; /* Match your main area color */
    overflow: auto; /* For scrolling if needed */
    width: calc(100% - 250px); /* Adjust content width */
    transition: margin-left 0.3s ease, width 0.3s ease; /* Smooth content shift */
}

/* Smooth transition effect for content */
#content > div {
    transition: all 0.3s ease-in-out;
}

/* Jmol container styling */
.jsmolContainer {
    width: 100%;
    max-width: 700px; /* Limit max size for larger screens */
    height: auto;
    margin: 0 auto;
    display: block;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1; /* Maintain square aspect ratio */
}

/* Mobile Sidebar Toggle Button */
.mobile-toggle {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: transparent;
    color: #A85426;
    font-size: 30px;
    border: none;
    border-radius: 50%; /* Make the button circular */
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
    z-index: 1000; /* Ensure button is on top of other content */
}

/* Desktop Collapse Button */
#collapse-btn {
  display: none; /* Hidden by default */
  font-size: 20px;
  position: absolute;
  top: 7px; /* Adjust to align with the top-left corner of the header */
  left: 7px; /* Adjust to place it to the left of the header */
  background-color: transparent; /* Default background color when sidebar is closed */
  color: #A85426; /* Orange color for the button */
  border: none;
  border-radius: 50%; /* Make the button circular */
  padding: 15px; /* Adjust padding to make it round */
  cursor: pointer;
  z-index: 2; /* Ensure the button is on top */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Adjust grid for collapsed sidebar */
#main-container.collapsed {
    grid-template-columns: 0 auto; /* Sidebar hidden, content full width */
}

/* Collapsed Desktop Sidebar */
#sidebar.collapsed {
    transform: translateX(-250px);
}

#content.collapsed {
    margin-left: 20px;
    transition: margin-left 0.3s ease; , width 0.3s ease-in-out;/* Smooth transition */
}

/* Make Home and Structures links always bold */
#menu #home-link,
#menu #structures-link {
    font-weight: bold;
}

/* Responsive Design */

/* Mobile-Specific */
@media only screen and (max-width: 768px) {
    #sidebar {
        transform: translateX(-100%); /* Hidden by default */
    }

    #sidebar.show {
        transform: translateX(0); /* Show when toggled */
    }

    #content {
        margin-left: 0;
        width: 100%;
    }

    #main-container {
        grid-template-columns: auto; /* Content only when sidebar hidden */
    }
    
    .mobile-toggle {
        display: block; /* Show toggle button for mobile */
    }

    #collapse-btn {
        display: none; /* No collapse button on mobile */
    }

    .jsmolContainer {
    width: 100% !important;
    height: 90vw;  /* Dynamic height based on the width of the viewport */
    max-width: 100% !important;
    margin: 0 auto;
    }
}

/* Desktop-Specific */
@media only screen and (min-width: 769px) {
    .mobile-toggle {
        display: none; /* Hide toggle button on desktop */
    }

    #collapse-btn {
        display: block; /* Show collapse button on desktop */
    }

    #sidebar {
        transform: translateX(0); /* Always visible on desktop */
        width: 250px;
    }

    #content {
        margin-left: 250px;
    }
}

/* Design for subsections */
#structures-menu {
    padding-left: 20px;
    display: none; /* Hidden by default */
}

.subsections {
    padding-left: 20px;
    display: none;
}
