
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #F4F4F9;
    height: 100vh;
    display: flex;
    transition: all 0.3s ease-in-out;
}

#sidebar {
    width: 250px;
    background-color: #D6D6D6;
    height: 100vh;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease-in-out;
}

#sidebar.collapsed {
    width: 0;
}

#sidebar header {
    padding: 20px;
    background: #DDE5F0;
}

#sidebar header h2 {
    color: #28528E;
    margin: 0;
}

#sidebar header input {
    margin-top: 10px;
    padding: 5px;
    width: 80%;
    border: 1px solid #28528E;
    border-radius: 5px;
}

#menu a {
    text-decoration: none;
    color: #28528E;
    padding: 8px;
    display: block;
}

#menu a:hover {
    color: #A85426;
}

#menu a.active {
    font-weight: bold;
    color: #A85426;
}

#sidebar footer {
    margin-top: auto;
    padding: 10px;
    background-color: #D6D6D6;
    text-align: center;
}

.mobile-toggle,
.collapse-btn {
    position: fixed;
    background: transparent;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 1001;
}

.collapse-btn {
    display: none;
    top: 10px;
    left: 10px;
}

@media only screen and (max-width: 768px) {
    .collapse-btn {
        display: none;
    }

    #sidebar {
        display: none;
        width: 70%;
    }

    #sidebar.show {
        display: block;
    }

    #content {
        margin-left: 0;
        width: 100%;
    }
}

.jsmolContainer {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
